* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#first-box {
  background-image: url(1.jpeg);
  width: 100%;
  height: 100vh;
  background-size: cover;
 transition: background-image 3s linear; /* Slow down the transition */
}



/* navbar */
#nav-main-box {
  display: flex;
  justify-content: space-between;
  padding: 20px 120px 20px 120px;
  scroll-behavior: smooth;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
}
#nav-main-box a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.3em;
  font-weight: 600;
}


#nav-second-box {
  display: flex;
  gap: 30px;
}

/* first box */
#first-content-box {
  width: 500px;
  height: fit-content;
  position: absolute;
  left: 120px;
  top: 170px;
  font-size: 20px;
  border-radius: 10px;
  color: #fff;
}

.btn {
  background-color: #ff6c22;
  font-size: 18px;
  font-weight: 600;
  padding: 12px 32px;
  border-radius: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  margin-top: 30px;
}
.btn:hover {
  background-color: #ff8533; /* Adjust the color for hover effect */
}




#second-box{
    padding: 110PX 220PX;
    color: #ff6c22;
    font-size: 20px;
    text-align: center;

}


#third-box{
    display: flex;
    padding:  20px 10px 20px 20px;
    /* background-color: blanchedalmond; */
    justify-content: space-between;
    margin-left: 20px;
    
}


#third-box img{
    width:50vw;
    height: 85vh;
    border-radius: 50px;
}

#third-box-second-div{
    background-color: blanchedalmond;
    border-radius: 50px;
    width:50vw;
    height: 85vh;
    padding: 40px;
    margin-left: 5px;

}

#third-box-second-div-01{
  border:1.7px solid black;
  border-radius: 50px;
  padding: 2px 10px;
  width: fit-content;
}
#third-box-second-div h1{
    margin-top: 20px;
}

#third-box-third-div{
    background-color: rgb(140, 192, 240);
    position: relative;
    top:72vh;
    right: 80px;
    padding:20px 25px;
    font-size: 20px;
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
    z-index: 50;
    cursor: pointer;

}




#fourth-box{
  margin: 160px 0px;
  display: flex;
  height: 150px;
  background-color: #00000036;
  align-items: center;
  gap:10px;
  padding: 0px 80px 0px 0px;
  justify-content: space-between;
  color: #00000084;
}

#fourth-box img{
 height: 150px;
}
#fourth-box button{
  border: none;
  border-radius: 50px;
  width: fit-content;
  font-size: 18px;
  font-weight: 600;
  padding: 12px 32px;
  outline: none;
  cursor: pointer;
  color: #ff6c22;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.434);
}

#fourth-box-first-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 


#fifth-box{
 height: 80vh;
  background-size: cover;
  margin-bottom: 40px;
  background-color: rgb(43, 144, 226);

}
#fifth-box img{
   opacity: 0.4;
   width: 100%;
   height: 100%;
}
#fifth-box-1-div{
  display: flex;
  justify-content: center;
  gap:40px;
position: relative;
top:-100%;
height: 100%;
align-items: center;
}
#fifth-box-1-div-01{
  border-right: 2px solid blue;
 background-color: lawngreen;
 margin: 40px;
}

#fifth-box-1-div-02{
  background-color: rosybrown;
}


#sixth-box{
  display: flex;
  height: 70vh;
   margin: 60px 0px;
}

#sixth-box-first-div{
  width: 45%;
}
#sixth-box-first-div img{
  width: 100%;
  height: 100%;
}
#sixth-box-second-div{
  width: 60%;
  background-color: rgb(0, 100, 139);
}


#seventh-box{
  display: flex;
  height: 50vh;
  background-color: #ff8533;
  margin: 70px 0;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px 40px;
}

#seventh-box div{
 width: 35%;
 height: 40%;
 background-color: palevioletred;
 text-align: center;
}





#eight-box{
  display: flex;
  margin:50px 0;
  background-color: #00000084;
  color:#00000084;
  gap:10px;
  padding: 20px;
}
#eight-box-first-div{
  text-align: center;
}



#ninth-box{
 /* background-color: palegreen; */
 text-align: center;
 padding:30px 50px;
 margin: 100px 0;
}
#ninth-box img{
  border-radius: 50%;
}

#ninth-box-first-div{
  display: flex;
  background-color: plum;
  height: 300px;
  margin: 50px 0px;
  padding: 20px;
}

#tenth-box{
  background-color: rgb(255, 242, 0);
  text-align: center;
  margin: 100px 0px;
}

#tenth-box-first-div{
  margin-top: 40px;
  display: flex;
  height: 200px;
  justify-content: space-around;
  padding-bottom: 20px;
 
}
#tenth-box-first-div img{
  border-radius: 50%;
}




#eleventh-box{
  background-color: rgb(246, 242, 192);
  text-align: center;
  padding: 10px;
}

#eleventh-box-main-div{
  /* background-color: palevioletred; */
  display: flex;
  justify-content: space-between;
  padding:20px 80px;
}

#eleventh-box-first-div{
  /* background-color: rgb(124, 124, 202); */
  width: 40%;
  padding: 10px;
}
#eleventh-box-first-div form{
  display: flex;
  flex-direction: column;
  width: 50%;
  
}

#eleventh-box-second-div{
  /* background-color: rgb(225, 168, 232); */
  width: 40%;
  padding: 10px;
}

#twelveth-box{
  background-color: plum;
 height: 40vh;
 display: flex;
 /* gap:20px; */
 justify-content: space-between;
 padding:50px 80px;
}

#twelveth-box div{
  background-color: aqua;
  width: 200px;
}
#thirteenth-box{
  background-color: yellowgreen;
padding: 18px;
  display: flex;
  justify-content: center;
  gap:20px;
}