* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#first-box {
  background-image: url(1.jpeg);
  width: 100%;
  height: 100vh;
  background-size: cover;
 /* transition: background-image 3s linear; Slow down the transition */
}



/* navbar */
#nav-main-box {
  display: flex;
  justify-content: space-between;
  padding: 20px 120px 20px 120px;
  scroll-behavior: smooth;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
}
#nav-main-box a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.3em;
  font-weight: 600;
}


#nav-second-box {
  display: flex;
  gap: 30px;
}

/* first box */
#first-content-box {
  width: 500px;
  height: fit-content;
  position: absolute;
  left: 120px;
  top: 170px;
  font-size: 20px;
  border-radius: 10px;
  color: #fefefe;
}

.btn {
  background-color: #ff6c22;
  font-size: 18px;
  font-weight: 600;
  padding: 12px 32px;
  border-radius: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  margin-top: 30px;
}
.btn:hover {
  background-color: #ff8533; /* Adjust the color for hover effect */
}




#second-box{
    padding: 110PX 220PX;
    color: #ff6c22;
    font-size: 20px;
    text-align: center;

}


#third-box{
    display: flex;
    padding:  20px 10px 20px 20px;
    /* background-color: blanchedalmond; */
    justify-content: space-between;
    margin-left: 20px;
    overflow: hidden;
}


#third-box img{
    width:50vw;
    height: 80vh;
    border-radius: 50px;
}

#third-box-second-div{
    background-color: rgb(247, 234, 214);
    border-radius: 50px;
    width:35vw;
    height: 80vh;
    padding: 40px;
    margin-left: 5px;
    border-bottom-right-radius: 20px;
    /* clip-path: polygon(0 0, 100% 0, 100% 82%, 80% 100%, 0 100%);  */
}

#third-box-second-div-01{
  border:1.7px solid black;
  border-radius: 50px;
  padding: 2px 10px;
  width: fit-content;
}
#third-box-second-div p{
    margin-top: 20px;
    font-size: 25px;
    font-weight: 600;
}

#third-box-third-div{
    background-color: #f55200;
    position: relative;
    top:3vh;
    right: -19px;
    padding:20px 25px;
    font-size: 20px;
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
    z-index: 50;
    cursor: pointer;
}

#abc{
  background-color: rgb(255, 254, 254);
  width: 100px;
  height: 100px;
  position: relative;
    top:66vh;
    right: 70px;
    z-index: 45;
    border-radius: 50%;

}

.wrapper{
  overflow: hidden;
  border-radius: 50px;

}
.slider {
  display: grid;
  width: 50vw;
  grid-template-columns: repeat(4,100%);
  
  animation: slider 10s ease-in-out infinite;
}

#slider-img-1{
  background-image: url(istockphoto-1145070023-612x612.jpg);
  background-size: cover;
  width:50vw;
  height: 80vh;
}

#slider-img-2{
  background-image: url(2.jpg);
  /* background-position: center; */
  background-size: cover;
  width:50vw;
  height: 80vh;
}
#slider-img-3{
  background-image: url(3.jpg);
  /* background-position: center; */
  background-size: cover;
  width:50vw;
  height: 80vh;
}
#slider-img-4{
  background-image: url(4.jpg);
  /* background-position: center; */
  background-size: cover;
  width:50vw;
  height: 80vh;
}
@keyframes slider{
  0%{transform: translateX(0%);}
  10%{transform: translateX(-100%);}
  20%{transform: translateX(-100%);}
  30%{transform: translateX(-200%);}
  40%{transform: translateX(-200%);}
  50%{transform: translateX(-200%);}
  60%{transform: translateX(-300%);}
  70%{transform: translateX(-300%);}
  80%{transform: translateX(-300%);}
  90%{transform: translateX(0%);}
  100%{transform: translateX(0%);}
}

#fourth-box{
  margin: 160px 0px;
  display: flex;
  height: 150px;
  background-color: #00000036;
  align-items: center;
  gap:10px;
  padding: 0px 80px 0px 0px;
  justify-content: space-between;
  color: #00000084;
}

#fourth-box img{
 height: 150px;
}
#fourth-box button{
  border: none;
  border-radius: 50px;
  width: fit-content;
  font-size: 18px;
  font-weight: 600;
  padding: 12px 32px;
  outline: none;
  cursor: pointer;
  color: #ff6c22;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.434);
}

#fourth-box-first-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 


#fifth-box{
 height: 80vh;
  background-size: cover;
  margin-bottom: 40px;
  background-color: rgb(43, 144, 226);

}
#fifth-box img{
   opacity: 0.4;
   width: 100%;
   height: 100%;
}
#fifth-box-1-div{
  display: flex;
  justify-content: space-around;
  gap:80px;
position: relative;
top:-100%;
height: 100%;
align-items: center;
}
#fifth-box-1-div-01{
  border-bottom: 2px solid rgb(4, 4, 120);
 /* background-color: lawngreen; */
 margin: 40px;
 font-size: 25px;
 color: #f7651b;
}

#fifth-box-1-div-02{
  /* background-color: rosybrown; */
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 40vw;
  height: 50vh;
  gap:30px;
  align-items: center;
  justify-content: space-around;
}
#fifth-box-1-div-03{
display: flex;
justify-content: space-between;
width: 100%;
}
.number{
  /* background-color: indigo; */
  text-align: center;
  width: 30%;
}

.number h3{
  font-size: 35px;
  font-weight: 750;
  color: #f7651b;
}
.number p{
  font-size: 24px;
  color: #ffd333;
  font-family:  'Times New Roman', Times, serif
}










#sixth-box{
  display: flex;
  height: 70vh;
   margin: 60px 0px;
}


#sixth-box-first-div{
  width: 50%;
  background-color: rgb(127, 173, 189) ;
  padding:20px;
  font-size: 19px;
}

#sixth-box-second-div{
  width: 60%;
  background-color: rgb(0, 100, 139);
  padding: 10px 5px;
}
#sixth-box-second-div h2{
 text-align: center;
 font-size: 30px;
 font-weight: 400;
}

#sixth-box-second-div-01{
  /* background-color: palegreen; */
  margin: 20px;
  border: 1.2px solid black;
  padding:25px;
}
#sixth-box-second-div-01 p{
  margin: 10px 0px 0px 30px;
  font-size: 18px;
}


#amount{
  width: 100%;
  padding: 5px;
  margin-top: 2px;

}

.pymnt-amnt-opt{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top:10px ;
  margin-bottom: 5px;
  gap:10px;
}
.pymnt-amnt-opt div{
   width:250px;
   /* background-color: #f9671f; */
} 

.green-heading{
  color:#f9671f;
  margin:7px;
}



















#seventh-box{
  display: flex;
  height: 50vh;
  background-color: #f1b289;
  margin: 70px 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#seventh-box h2{
  font-size: 40px;
  border-bottom: 2.5px solid #f55200;
}
.seventh-box-card-cont{
  display: flex;
  justify-content: space-between;
 width: 100%;
 /* background-color: palevioletred; */
 padding:0px 40px;
}

.seventh-box-cards{
  background-color: palegreen ;
  width:200px;
  height: 200px;
  border-radius: 20px;
  display: flex;
  align-items: end;
  justify-content: center;
  font-size: 30px;
  padding:20px;
  color:rgb(255, 77, 0);
  font-weight: 600;
}

.seventh-box-cards:nth-child(1){
  background-image: url(istockphoto-1355270256-612x612.jpg);
  background-size: cover;
  
}

.seventh-box-cards:nth-child(2){
  background-image: url(villageWomens.jpg);
  background-size: cover;
}
.seventh-box-cards:nth-child(3){
  background-image: url(istockphoto-1191366567-612x612.jpg);
  background-size: cover;
}
.seventh-box-cards:nth-child(4){
  background-image: url(istockphoto-1318617341-612x612.jpg);
  background-size: cover;
}


#eight-box{
  display: flex;
  margin:50px 0;
  background-color: #00000084;
  color:#00000084;
  gap:10px;
  padding: 20px;
}
#eight-box-first-div{
  text-align: center;
}
#eight-box-first-div h2{
  font-size: 38px;
 }
 
#eight-box-first-div p{
 font-size: 18px;
}


#ninth-box{
 /* background-color: palegreen; */
 text-align: center;
 padding:30px 50px;
 margin: 100px 0;
}
#ninth-box img{
  border-radius: 50%;
}


#ninth-box h2{
  font-size: 50px;
 }

 #ninth-box h3{
  font-size: 38px;
  border-bottom:2.3px solid #f55200;
  margin-bottom: 20px;
 }   

 #ninth-box p{
  font-size: 18px;
 } 

#ninth-box-first-div{
  display: flex;
  background-color: #FFD099;
  height: 300px;
  margin: 50px 0px;
  padding: 20px;
}

#ninth-box-first-div div{
margin: 10px;
padding: 10px;
  /* background-color: palevioletred; */
}




#tenth-box{
  /* background-color: rgb(255, 242, 0); */
  background-color: rgb(246, 163, 68);
  text-align: center;
  margin: 100px 0px;
  padding:20px 30px;
}
#tenth-box h2{
  font-size: 40px;
  padding-bottom: 12px;
}
#tenth-box-first-div{
  /* background-color: palevioletred; */
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.tenth-box-image-box{
  width:200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  background-size: contain;
  /* background-color: pink; */
  background-image: url(schoolgirl.jpg);
}





#eleventh-box{
  background-color: #FFD099;
  text-align: center;
  padding: 10px;
}
#eleventh-box h2{
 font-size: 34px;
 font-weight: 790;
 margin-top: 10px;
}

#eleventh-box-main-div{
  /* background-color: palevioletred; */
  display: flex;
  justify-content: space-around;
  padding:20px 90px;
}

#eleventh-box-first-div{
  /* background-color: rgb(124, 124, 202); */
  width: 40%;
  padding: 10px  60px;
}
#eleventh-box-first-div form{
  /* background-color: olivedrab; */
  display: flex;
  flex-direction: column;
  /* width: 50%; */
  
}
#eleventh-box-first-div form input ,textarea{
   margin-bottom: 8px;
   background-color: transparent;
   border: none;
   border-bottom: 1.5px solid black;
   height: 30px;
   padding: 10px;
   outline: none;
   font-size: 15px;
   box-sizing: border-box;
}
#eleventh-box-first-div form  input::placeholder,textarea::placeholder{
   color:black
}
#eleventh-box-first-div form textarea {
  resize: none;
  overflow: hidden;
  padding-bottom: 20px;
}


#eleventh-box-second-div{
  /* background-color: rgb(153, 65, 165); */
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

#eleventh-box-second-div-01 {
  display: flex;
 gap:30px;
 margin-bottom: 10px;

}


#eleventh-box-second-div-01 i {
  font-size: 30px;
 

}

#eleventh-box-second-div-02{
  text-align: start;
  
}
#eleventh-box-second-div-02 h3{
  font-size: 24px;
  color: rgb(73, 73, 73);
  margin-bottom: 5px;
}

#eleventh-box-second-div-02 h4{
  font-size: 14px;
  margin-bottom: 10px;
  
}
#eleventh-box-second-div-02-01{
  background-color: #ff8533;
  padding: 5px;
  font-size: 16px;
  font-weight: 500;
  width: fit-content;

}

#eleventh-box-second-div-02 h2{
  
  font-size: 25px;
  margin-bottom: 14px;
}

.donate-class{
  width: 50%;
  padding: 10px;
  font-size: 18px;
  border: none;
  background-color: #ff8533;
  color: white;
  font-weight: 600;

}










#twelveth-box{
  background-color: #d0cececc;
 height: 40vh;
 display: flex;
 justify-content: space-between;
 padding:30px 80px;
}
.twelveth-box-single-box01{
  width: 278px;

}
.twelveth-box-single-box01 h2{
  font-size: 33px;
}
.twelveth-box-single-box{
   /* background-color: skyblue; */
}

.twelveth-box-single-box h2{
  border-bottom: 3px solid #f55200;
  margin-bottom: 15px;
}






#thirteenth-box{
  background-color: #d0cececc;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

#thirteenth-box-first-div {
  display: flex; 
  /* background-color: palevioletred; */
}

#thirteenth-box-first-div p{
  padding: 10px 15px;
  border-left: 1.5px solid black;
}
#thirteenth-box-first-div p:first-child{
  border: none;
}


#thirteenth-box-second-div{
  /* background-color: paleturquoise; */
  margin: 15px 0px 15px 0px;
}